timeZone/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1f0218a1-acf6-4b6b-b21f-465505c0fdbe" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="testFlow" doc:id="308dba6b-e03e-435b-872a-22da35976391" >
		<http:listener doc:name="Listener" doc:id="c6a10dc3-53ca-4e72-b058-fa5c69a5bfb2" path="/{region}/{city}" config-ref="common_http_listener"/>
		<http:request method="GET" doc:name="Request" doc:id="d7c3fc53-bfcd-42a8-9533-008f20dccb0d" path="/{region}/{city}" config-ref="HTTP_Request_configuration">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="becee4dc-3908-4e57-bcaf-a4210cb16dcc" message="#[payload]"/>
	</flow>
</mule>
